#a {
    height: 75px;
}

#b {
    height: 150px;
}

#c {
    height: 125px;
}

#d {
    height: 125px;
}

#e,#g{
    float: left;
    width: 50%;
    height: 250px;
}

#f,#h{
    float: right;
    width: 50%;
    height: 250px;
}

#second-section::after{
    content: "";
    clear: both;
    display: table;
}

#i {
    height: 80px;
    background-color: crimson;
}

@media only screen and (min-width: 480px) {
    #b {
        width: 18%;
        height: 600px;
        float: left;
    }

    main {
        width: 100%;
        height: 450px;

    }

    #c {
        float: left;
        height: 200px;
        width: 41%;
    }

    #d {
        float: right;
        height: 200px;
        width: 41%;
    }

    #e,#f,#g,#h {
        width:20.5% ;
    }

    #f {
        float: left;
    }

    #i {
        width: 82%;
        height: 150px;
        float: right;
    }

}